/******* ESTILOS PARA LA REJILLA ********************/
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    width: 100%;
}


@media screen and (min-width: 600px) {
    .col-m-1 {
        width: 14%;
    }
    .col-m-2 {
        width: 26%;
    }
    .col-m-3 {
        width: 36%;
    }
    .col-m-4 {
        width: 48%;
    }
    .col-m-5 {
        width: 60%;
    }
    .col-m-6 {
        width: 72%;
    }
    .col-m-7 {
        width: 84%;
    }
    .col-m-8 {
        width: 100%;
    }
}

@media only screen and (min-width: 800px) {
    .col-l-1 {
        width: 14%;
    }
    .col-l-2 {
        width: 26%;
    }
    .col-l-3 {
        width: 36%;
    }
    .col-l-4 {
        width: 48%;
    }
    .col-l-5 {
        width: 60%;
    }
    .col-l-6 {
        width: 72%;
    }
    .col-l-7 {
        width: 84%;
    }
    .col-l-8 {
        width: 100%;
    }
}
[class*="col-"] {
    float: left;
    box-sizing: border-box;
    padding: 1em;
}

/************** ESTILOS GENERALES **********************************************/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;    

}

#cabecera{
    position: relative;
    z-index: -1;
    max-height: 240px;
    min-height: 100px;
    display: block;
    vertical-align: top;
    border: 6px groove rgba(84,86,94,0.51);
    border-radius: 13px;
}
.logo{
    display: block;
    position: absolute;
    vertical-align: top;
    z-index: 1;
}

.logo:hover{
    transition: all 0.5s linear;
    transform: scale(0.8);
}
.a_logo{
    position: absolute;
    display: block;
    z-index: 1;
    color: #fff;
    font-size: 30px;
}

header {
    display: block;
    vertical-align: bottom;
}
.contenedor{

    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h1 {
    text-shadow: 5px 5px 8px black;
    color: white;
    text-align: center;
    position:relative;
}
body{
    background: rgba(112,112,112,1);
    background: -moz-linear-gradient(top, rgba(112,112,112,1) 0%, rgba(107,107,107,1) 20%, rgba(47,55,92,1) 65%, rgba(26,37,86,1) 81%, rgba(125,125,125,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(112,112,112,1)), color-stop(20%, rgba(107,107,107,1)), color-stop(65%, rgba(47,55,92,1)), color-stop(81%, rgba(26,37,86,1)), color-stop(100%, rgba(125,125,125,1)));
    background: -webkit-linear-gradient(top, rgba(112,112,112,1) 0%, rgba(107,107,107,1) 20%, rgba(47,55,92,1) 65%, rgba(26,37,86,1) 81%, rgba(125,125,125,1) 100%);
    background: -o-linear-gradient(top, rgba(112,112,112,1) 0%, rgba(107,107,107,1) 20%, rgba(47,55,92,1) 65%, rgba(26,37,86,1) 81%, rgba(125,125,125,1) 100%);
    background: -ms-linear-gradient(top, rgba(112,112,112,1) 0%, rgba(107,107,107,1) 20%, rgba(47,55,92,1) 65%, rgba(26,37,86,1) 81%, rgba(125,125,125,1) 100%);
    background: linear-gradient(to bottom, rgba(112,112,112,1) 0%, rgba(107,107,107,1) 20%, rgba(47,55,92,1) 65%, rgba(26,37,86,1) 81%, rgba(125,125,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#7d7d7d', GradientType=0 );
}
legend{
    text-height: 15px;
    text-shadow: 10px 5px 8px black ;
    color: windowtext;
    text-align: center;

}

form input [type="submit"] {

    color: #ffffff;
    background-color: #990000;
    border: 1px solid #000000;
}

label{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    text-shadow: 3px 5px 2px #474747, 2px 2px 7px rgba(70,72,83,0.61);
}
section {
    border: 10px outset rgba(28,110,164,0.49);
    border-radius: 10px;
    text-align: center;
}
aside {
    border: 3px solid blue;
    background-color: lightslategray;
    text-align: center;
}

footer {
    padding: 15px;
    min-height: 50px;
    background-color: bisque;
    text-align: center;
}
.campo{
    margin: auto 0;
    border: 1px solid #cccccc;
}

.boton{
    font-size:12px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    text-align: center;
    color:white;
    background:#638cb5;
    max-height: 20px;
    min-height: 15px;
    margin: 5px;
    border-radius: 115px 115px 115px 115px;
    -moz-border-radius: 114px 115px 115px 115px;
    -webkit-border-radius: 114px 115px 115px 115px;
    border: 3px solid #0f3140;
}
.boton:hover{
    box-shadow: 3px 0px 20px buttonhighlight;

}
.tarjeta {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: white;
    background-color: lightsteelblue;
    color: darkblue;
    text-align: justify;
}
