/* -------------------------------- Variables ------------------------------- */
.row::after {
    content: "";
    clear: both;
    display: block;
}


[class*="col-"] {
    width: 100%;
}


@media screen and (min-width: 600px) {
    .col-m-1 {
        width: 14%;
    }
    .col-m-2 {
        width: 26%;
    }
    .col-m-3 {
        width: 36%;
    }
    .col-m-4 {
        width: 48%;
    }
    .col-m-5 {
        width: 60%;
    }
    .col-m-6 {
        width: 72%;
    }
    .col-m-7 {
        width: 84%;
    }
    .col-m-8 {
        width: 100%;
    }
}

@media only screen and (min-width: 800px) {
    .col-l-1 {
        width: 14%;
    }
    .col-l-2 {
        width: 26%;
    }
    .col-l-3 {
        width: 36%;
    }
    .col-l-4 {
        width: 48%;
    }
    .col-l-5 {
        width: 60%;
    }
    .col-l-6 {
        width: 72%;
    }
    .col-l-7 {
        width: 84%;
    }
    .col-l-8 {
        width: 100%;
    }
}
[class*="col-"] {
    float: left;
    box-sizing: border-box;
    padding: 1em;
}
/*********************ESTILO CAPTCHA*****************************************/
.captcha_Comprobar-enable{
    border-color: black;
}
.captcha_Comprobar-disable{
    display: none;
}
.captcha_introducido-enable{
    border-color: black;
}
.captcha_introducido-disable{
    display: none;
}
.captcha_refresh-enable{
    border-color: black;
}
.captcha_refresh-disable{
    display: none;
}
.captcha_canvas{
    display: none;

}
/************** ESTILOS GENERALES *********************************************
#logo{position: absolute;
      z-index: 1}
#cabecera{
    position: absolute;
    height: 200px;

}
*/
header {
    background-color: lightblue;
    padding: 15px;
}


footer {
    padding: 15px;
    min-height: 50px;
    background-color: bisque;
    text-align: center;
}

:root {
    /* Colores */
    --color-dark: #434343;
    --color-medium: #ced4da;
    --color-light: #f2f2f2;
    --color-white: #ffffff;
    --color-red: #f14668;
    --color-green: #48c774;

    /* Colores alpha */
    --color-red-a: #f1466831;
    --color-green-a: #48c7741e;


    /* Tamaño fuente */
    --font-1: 1rem;
    --font-2: 2rem;
    --font-3: 3rem;
    --font-4: 4rem;
    --font-5: 5rem;

    /* Margen */
    --m-0: 0;
    --m-1: 1rem;
    --m-2: 2rem;
    --m-3: 3rem;
    --m-4: 4rem;
    --m-5: 5rem;

    /* Padding */
    --p-0: 0;
    --p-1: 1rem;
    --p-2: 2rem;
    --p-3: 3rem;
    --p-4: 4rem;
    --p-5: 5rem;
}

/* ---------------------------------- Reset --------------------------------- */

* {
    box-sizing: border-box;
    margin: var(--m-0);
}

/* --------------------------------- Estilos -------------------------------- */

body {
    font-size: 16px;
    font-family: sans-serif;
    color: var(--color-dark);
}

nav {
    background-color: var(--color-dark);
    padding: var(--p-2) var(--p-4);
    font-size: var(--font-2);
    color: var(--color-light);
    text-align: center;
}

form {
    width: 75vw;
    padding: var(--p-3);
    background-color: var(--color-light);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: bolder;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.min-vh-100 {
    min-height: 100vh;
}

.m-1 {
    margin: var(--m-1);
}

.m-3 {
    margin: var(--m-3);
}

.input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-dark);
    background-color: var(--color-white);
    background-clip: padding-box;
    border: 1px solid var(--color-medium);
    border-radius: .25rem;
}

input:invalid:focus {
    outline: none;
    border: 2px solid var(--color-red);
    background-color: rgb(255, 202, 202);
}

input:valid:focus {
    outline: none;
    border: 2px solid var(--color-green);
    background-color: rgb(214, 253, 214);
}

small {
    margin-left: 0.2rem;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: var(--color-light);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    width: 100%;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-dark {
    color: var(--color-light);
    background-color: var(--color-dark);
    border-color: var(--color-dark);
}


/* Este es el diseño para nuestros mensajes de error */
.error {
    width : 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;

    box-sizing: border-box;
}

.error.active {
    padding: 0.2em;
}

.no-error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #090;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    padding: 0.2rem;
}